.back {
    color: black;
    text-decoration: none;
    margin: 10px;
    display: flex;
}

h1 {
    text-align: left;
}

.image:hover {
    cursor: pointer;
}

.modal-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
}

.modal-image {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 600px;
    width: 100%;
}