input,
textarea {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
}

textarea {
    font-family: var(--main-font);
}

label {
    font-size: 1.2rem;
}

textarea {
    min-height: 220px;
}

.form-error {
    color: red;
    display: none;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.form-wrapper > * {
    margin: 10px auto;
}

.success {
    display: none;
    background: green;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.contact-cta {
    font-size: 1.2rem;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 20px;
    cursor: pointer;
}