.header_img {
    max-height: 360px;
    width: 100%;
    object-fit: cover;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.featured-post, .chicken-fact {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    padding: 20px;
    text-align: center;
}

.posts-container, .chicken-fact {
    max-width: 350px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

.read-more {
    width: 100px;
    text-align: center;
    padding: 8px 20px;
    margin: 10px auto;
    background-color: gray;
    border-radius: 10px;
}

.read-more:hover {
    background-color: azure;
}

.chicken-fact {
    border-radius: 10px;
}

.featured-text {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    font-weight: 300;
}

.image {
    margin: 0px auto;
    object-fit: cover;
}

.carousel-wrapper {
    display: flex;
    margin: auto;
    max-width: 1000px;
}

.carousel {
    max-width: 830px;
    height: 50vh;
    display: flex;
    overflow-x: hidden;
    margin: auto;
    gap: 10px;
    scroll-behavior: smooth;
}

.carousel-container > img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carousel-container {
    margin-top: 20px;
    max-height: 320px;
}

.carousel-button {
    z-index: 2;
    position: relative;
    top: 100px;
    background: none;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    border-radius: .25rem;
    background-color: rgba(0, 0, 0, .1);
    max-height: 80px;
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .3);
}

.carousel-button:focus {
    outline: 1px solid black;
}