@import url(variables.css);

@media (min-width: 600px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    header label {
        display: none;
    }

    nav {
        display: block;
        position: static;
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        margin: auto;
    }

    nav li {
        font-size: 1.4rem;
    }

    nav a {
        padding: 10px;
        width: 100%;
    }

    .current {
        text-decoration: underline;
    }
}

@media (min-width: 800px) {
    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*blogs.html*/
    .blog-posts {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 900px) {
    nav {
        width: 600px;
    }

    nav ul {
        display: block;
    }

    nav li {
        display: inline-block;
        font-size: 1.4rem;
    }
}