@import url(variables.css);

body {
    margin: auto;
    max-width: 1200px;
}

header, footer {
    background-color: var(--color-header-footer);
    font-family: var(--header-font);
}

/*Header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header p {
    margin: 0px 20px 0px 50px;
}

.title, .slogan {
    margin: 0px 0px 0px 60px;
}

.title {
    font-size: 2.4rem;}

.slogan {
    font-size: 1.5rem;
}

nav {
    display: none;
    position: fixed;
    text-align: left;
    font-family: var(--main-font);
    font-weight: 300;
    border-radius: 0px 0px 20px 20px;
    width: 155px;
    top: 74px;
    right: 0px;
    background: var(--color-header-footer);
    z-index: 10;
}

nav ul {
    padding: 0px;
}

nav li {
    padding: 15px 20px;
    text-align: center;
    display: block;
    font-size: 1.6rem;
}

nav a {
    border-radius: 20px;
}

nav a, .return-home, .featured-post a, .read-more, .carousel > a {
    color: black;
    text-decoration: none;
}

.fa-bars {
    font-size: 3rem;
    margin-right: 20px;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

/*Main*/

main {
    overflow: hidden;
    font-family: var(--main-font);
}

h1 {
    text-align: center;
}

.box-style {
    width: 80%;
    margin: 50px auto;
}

.image {
    width: 75%;
    height: 70%;
    max-width: 600px;
    max-height: 700px;
    object-fit: cover;
    margin: 50px auto;
}

.wrapper {
    background-color: var(--color-wrapper);
    padding: 10px 0px;
}

/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

footer p {
    font-size: 1.1rem;
    text-align: left;
}

.close-p {
    line-height: 0.2;
}

.copyright-text {
    font-size: 1.4rem;
}

.icons {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icons > a {
    max-width: 35px;
}

.fa-brands {
    font-size: 2rem;
    color: black;
}

.cta {
    padding: 2px 12px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.cta:hover {
    background-color: #4ee05d;
}