:root {
    --color-header-footer: #f98f43;
    --color-header-anchors: #e2470a; 
    --color-wrapper: #FFBF91;
    --header-font: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    --main-font: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}